---
export interface Props {
  title: string;
  embedType: "youtube" | "shadertoy" | "iframe";
  embedId: string;
  languages: string[];
  description: string;
  additionalDescription: string;
  codeUrl?: string;
  additionalUrl?: string;
  additionalUrlName?: string;
}

const { title, embedType, embedId, languages, description, additionalDescription, codeUrl, additionalUrl, additionalUrlName } = Astro.props;
---

<article class="sketch">
  <h3 class="content-title-font title">{title}</h3>

  <div class="media">
    {embedType === "youtube" && (
      <iframe
        src={`https://www.youtube.com/embed/${embedId}`}
        allow="autoplay; encrypted-media"
        allowfullscreen
      />
    )}

    {embedType === "shadertoy" && (
      <iframe
        src={`https://www.shadertoy.com/embed/${embedId}`}
        allowfullscreen
      />
    )}
  </div>

  <ul class="languages">
    使用言語 : {languages.map(lang => <li>{lang}</li>)}
  </ul>

  <p class="description">{description}</p>

  {additionalDescription && (
    <p class="additionalDescription">{additionalDescription}</p>
  )}

  {additionalUrl && additionalUrlName && (
    <div class="additional-link">
        <a href={additionalUrl} target="_blank" rel="noopener noreferrer" class="hover:text-gray-900 hover:underline">
        {additionalUrlName}
        </a>
    </div>
  )}

  {codeUrl && (
    <div class="code-link">
        <a href={codeUrl} target="_blank" rel="noopener noreferrer" class="hover:text-gray-900 hover:underline">
        {codeUrl}
        </a>
    </div>
  )}


<style>
  .sketch {
    max-width: 720px;
    margin: 0 auto 64px;
    text-align: center;
  }

  .title {
    margin-bottom: 16px;
    font-size: 1.8rem;
  }

  .media {
    position: relative;
    aspect-ratio: 16 / 9;
    margin-bottom: 12px;
  }

  .media iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .languages {
    display: flex;
    justify-content: center;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 8px 0;
    font-size: 0.85rem;
    color: #666;
  }

  .description {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #333;
  }

  .additionalDescription {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #908f8f;
  }

  .additional-link {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #585858;
  }
</style>
